:root{
    --color-1: #2f3240;
}

body{
	font-family: sans-serif;
	background-color: #e8eef3;
}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
}

.container{
	max-width: 1170px;
	margin:auto;
}

.nav-cont{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding:0 15px;
}

/*header*/
.header{
	background-color: var(--color-1);
	padding: 12px 0;
	line-height: 1.5;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

.logo a{
	font-size: 30px;
	color: #ffffff;
	text-transform: capitalize;
}
.nav ul li{
	display: inline-block;
	margin-left: 40px;
}
.nav ul li a{
	display: block;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	padding: 10px 0;
	transition: all 0.5s ease;
}
.nav ul li a:hover{
	color: #f3a93d;
}


.nav-toggler{
	height: 34px;
	width: 44px;
	background-color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
	border:none;
	display: none;
	margin-right: 15px;
}
.nav-toggler:focus{
	outline: none;
	box-shadow: 0 0 15px rgba(255,255,255,0.5);
}
.nav-toggler span{
    height: 2px;
    width: 20px;
    background-color: var(--color-1);
    display: block;
    margin:auto;
    position: relative;
    transition: all 0.3s ease;
}
.nav-toggler.active span{
	background-color: transparent;
}

/* ::before is a pseudo-element which allows you to insert content onto a page from CSS (without it needing to be in the HTML).  */
.nav-toggler span::before,
.nav-toggler span::after{
	content: '';
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-color: var(--color-1);
	transition: all 0.3s ease;
}
.nav-toggler span::before{
	transform: translateY(-6px);
}
.nav-toggler.active span::before{
	transform: rotate(45deg);
}
.nav-toggler span::after{
	transform: translateY(6px);
}
.nav-toggler.active span::after{
	transform: rotate(135deg);
}


@media(max-width:991px){
   .nav-toggler{
   	display: block;
   }
   .nav{
   	width: 100%;
   	padding:0;
   	max-height: 0px;
   	overflow: hidden;
   	visibility: hidden;
   	transition: all 0.5s ease;
   }
   .nav.open{
   	visibility: visible;
   }
   .nav ul{
   	padding:12px 15px 0;
   	margin-top: 12px;
   	border-top:1px solid rgba(255,255,255,0.2);
   }
   .nav ul li{
   	display: block;
   	margin:0;
   }
}




.plp-instructors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 2rem;
  text-align: center;
}

#info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#info div {
  padding: 3rem;
  background: rgb(9, 60, 227);
  margin: 0.5rem;
  border-radius: 10px;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

